
@import url('http://fonts.googleapis.com/css?family=Exo+2:400,700');

div.dataoverlay {
    position: absolute;
    left: 10px;
    top: 80px;
}

.dataoverlay .v-label {
    background: transparent;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 72px;
    border-radius: 3px;
    text-align: left;
}
.dataoverlay .caption {
    background: transparent;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
    color: #505050;
    margin-top: -10px;
    margin-bottom: 10px;
}