
@import url('http://fonts.googleapis.com/css?family=Exo+2:400,700');

div.dataoverlay {
    position: absolute;
    left: 10px;
    top: 80px;
    z-index: 1000;
}

div.statusoverlay {
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 1000;
}

.dataoverlay .v-label,
.statusoverlay .v-label {
    background: transparent;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 5.1vw;
    border-radius: 3px;
    text-align: left;
}

.dataoverlay>.v-caption>.v-captiontext,
.statusoverlay>.v-caption>.v-captiontext {
    background: transparent;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 4vw;
    text-align: left;
    color: #505050;
    margin: 0; !important;
    margin-top: 10px; !important;
}


.statusoverlay .v-label {
    font-size: 3.1vmin;
}
.statusoverlay>.v-caption>.v-captiontext {
    font-size: 3.5vmin;
}


.statusoverlay .levelindicator {
    width: 20%;
    height: 35px;
    max-width: 100px;
    min-width: 40px;
}
